<md-button class="navbutton" ui-sref="home" ng-click="page.toggleNav()"><i class="material-icons">home </i> Home</md-button><br>
      <md-button class="navbutton" ui-sref="about" ng-click="page.toggleNav()"><i class="material-icons">person </i> About</md-button><br>
      <md-button class="navbutton" ui-sref="experience" ng-click="page.toggleNav()"><i class="material-icons">domain </i> Experience</md-button><br>
      <md-button class="navbutton" ui-sref="projects" ng-click="page.toggleNav()"><i class="material-icons">folder </i> Projects</md-button>
<!--<md-button class="navbutton" ui-sref="contact" ng-click="page.toggleNav()"><i class="material-icons">account_circle </i> Contact Me</md-button>-->


